.nav {
  display: flex;
  gap: 8px;
  min-height: 88px;
}

.list {
  list-style: none;
  margin: 0q
}

.listItem {
  display: flex;
}

.link {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  background-color: #111111;
  color: white;
  min-height: 40px;
  padding: 8px 24px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  border-radius: 8px;
  border: none;
  transition: 0.3s;
  text-decoration: none;
  cursor: pointer;
}

.link:hover {
  background-color: #E2B65C;
}

.link.active {
  pointer-events: none;
  background-color: #E2B65C;
  visibility: hidden;
}
